* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
}

header {

  
    background-image: url("../../img/image.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    padding-bottom: 720px;

    & nav {
      display: flex;
      justify-content: space-between;
      padding: 16px 92px;
      align-items: center;

      & ul {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        & li a {
          color:#EFEFEFB2;
        }

      
      }
    }

    .btns {
      & button {
        padding: 8px 16px;
        border-radius: 8px;
        background: transparent;
        color: #fff;
      }
    
      & button:first-child {
        border: 16px;
        margin-right:16px;
        background: #3B44F6;
    
      }
    
      & button:last-child {
        border-color: #fff;
      }
    }

  & section {
    margin-top: 197px;
    margin-left: 95px;

   
  }

  & section h2 {
    font-weight: 600;
  }

}


